<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Level</key>
	<array>
		<dict>
			<key>Score</key>
			<string>1</string>
			<key>XP</key>
			<string>999</string>
			<key>XPAwarded</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Score</key>
			<string>1</string>
			<key>XP</key>
			<string>1999</string>
			<key>XPAwarded</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Score</key>
			<string>1</string>
			<key>XP</key>
			<string>3500</string>
			<key>XPAwarded</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Score</key>
			<string>1</string>
			<key>XP</key>
			<string>4999</string>
			<key>XPAwarded</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>Score</key>
			<string>1</string>
			<key>XP</key>
			<string>6999</string>
			<key>XPAwarded</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>Score</key>
			<string>1</string>
			<key>XP</key>
			<string>8999</string>
			<key>XPAwarded</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>Score</key>
			<string>2</string>
			<key>XP</key>
			<string>11999</string>
			<key>XPAwarded</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>Score</key>
			<string>2</string>
			<key>XP</key>
			<string>15999</string>
			<key>XPAwarded</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>Score</key>
			<string>2</string>
			<key>XP</key>
			<string>19999</string>
			<key>XPAwarded</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>Score</key>
			<string>3</string>
			<key>XP</key>
			<string>999999999</string>
			<key>XPAwarded</key>
			<integer>4</integer>
		</dict>
	</array>
</dict>
</plist>
