<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>4179762520-hi1bfld73urm813tkjj72ti86lt11c3r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.4179762520-hi1bfld73urm813tkjj72ti86lt11c3r</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>4179762520-hnrmtsktfq3g2n0kgig3o1n81sp3u0ds.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAo7niTPOOFTHNCJCniAOwGv93V1NEvQJ8</string>
	<key>GCM_SENDER_ID</key>
	<string>4179762520</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ghostchillies.superswitchrun</string>
	<key>PROJECT_ID</key>
	<string>super-switch-run-27269927</string>
	<key>STORAGE_BUCKET</key>
	<string>super-switch-run-27269927.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:4179762520:ios:13896aa2200dad30</string>
	<key>DATABASE_URL</key>
	<string>https://super-switch-run-27269927.firebaseio.com</string>
</dict>
</plist>